/* Body */
body {
    background: #005883;
}
#titulo {
    align-items: auto;

}

#logoUnad{

    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

/* Header 
section.container-fluid1{
    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;

}
*/
#title{

   
    color: #000000;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 20px;
    align-items: center;
}

.col-10_title-container{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    background: #005883;
}



/* Nav */
.nav-container{
    margin: 0px;
    padding: 0px;
    z-index: 2;
}
.nav-container nav {
    background-color: #F0B429;
    font-weight: bold;
    box-shadow: 10px 10px 5px #F47920;
}

.nav-item a {
    color: #000;
}

.nav-item a.active {
    background-color: #4CAF50;
    color: white;
}

.nav-item a:hover:not(.active) {
    background-color: #555;
    color: white;
}



/* Contenido de la Pagina */
.container-body {
    font-family: 'Roboto', sans-serif;
    background-color: #B3B3B3;
    padding: 30px 50px;
    z-index: 1;
    text-align: justify;
}

.body-title{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-bottom: 28px;
    text-transform: uppercase;
}

.card-deck{ justify-content: space-around; }
.card-deck .card{ flex: none; max-width: 300px; margin-bottom: 15px; }
.card-title{ text-align: left; margin-bottom: 0px; }
.card-text:last-child{ font-size: 14px; }
.img-thumbnail { height: 250px; }

.video_container{
    text-align: center;
    margin: auto;
    width: 100%;
}

.twitter_feed {
    text-align: center;
}

.card-footer{
    text-align: left;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    /* padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width : 560px;
    z-index: 4
}

.modal-content.animate_container{
    width : 750px;
}

/* The Close Button */
.close {
    color: #000;
    position: absolute;
    font-size: 24px;
    height: 24px;
    top: -10px;
    right: -10px;
    z-index: 5;
    background: #FFF;
    border-radius: 54px;
    width: 24px;
    text-align: center;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/* footer */
footer{
    margin-top: 10px;
    margin-bottom: 20px;
}

.visitantes{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}




@media all and (max-width: 1000px){
    .title{
        font-size: 25px;
        text-align: center;
    }

    .title-container{
        max-width: 100% !important;
        flex: 0 0 100%;
    }

    .logo-container{
        display: none;
    }
}

@media all and (max-width: 760px){
    .content-section, .nav-container, .container-body{
        max-width: 100% !important;
        flex: 0 0 100%;   
    }   

    .nav-container nav {
        box-shadow: 0px 0px 0px;
    }
}

@media all and (max-width: 644px){
    .modal-content {
        width : 100%;
    }

    /* The Close Button */
    .close {
        right: 0px;
    }

    .video_container {
        width: 100%;
    }
}
