ul {
    float: left;
    /*margin-left: 50px;*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F0B429;
    font-weight: bold;
    box-shadow: 10px 10px 5px #F47920;
}

li a {
    
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
}

li a.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    font-weight: bold;
}


h4{
  
color: #FFFFFF;
/*color: #0070a8;*/
font-size: 40px;
/*text-align: center;*/
font-weight: bold;
font-family: 'Libre Franklin', sans-serif;
margin-right: 50px;
margin-left: 50px;
}

p{

margin-right: 3cm;
padding-left: 7cm;
text-align: justify;
}

#texto1
{
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    background-color: #B3B3B3;
    padding: 60px;
    margin-left: 100px;
    margin-top: 1px;

}

body{

    background: #005883 ;
    }

header{


}
